<div class="header-toolbar">
<mat-toolbar class="header-toolbar" style="display: flex; justify-content: space-between;">
  <button mat-icon-button class="header-icon" aria-label="Example icon-button with menu icon" (click)="onClickMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title" style="padding: 10px;">Booking Portal</span>
  <span class="navbar-spacer"></span>
  <button class="logout-button" (click)="onLogOut()">Log Out</button>
</mat-toolbar>
</div>
<div class = "content-container">
<mat-drawer-container class="dashboard-content-container">
  <mat-drawer mode="side" [opened]="isOpened">
    <!-- Drawer content -->
    <ul>
      <li><a href="">Link 1</a></li>
      <li><a href="">Link 2</a></li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <!-- Main content -->
    <button
      style="padding: 5px; margin-left: 5px; margin-top: 5px; color: white; background-color: rgb(21, 127, 188);border-radius: 10px;border-style: none;"
      (click)="upcomingTripData()">Upcoming
      Trips
    </button>
    <br>
 <table mat-table [dataSource]="tripData" class="mat-elevation-z8">
      <ng-container matColumnDef="requestId">
        <th mat-header-cell *matHeaderCellDef> Booking ID </th>
        <td mat-cell *matCellDef="let element"> {{element.requestId.orderId}} </td>
      </ng-container>
      <ng-container matColumnDef="originTravelDateTime">
        <th mat-header-cell *matHeaderCellDef> Travel Date & Time </th>
        <td mat-cell *matCellDef="let element"> {{element.originTravelDateTime}} </td>
      </ng-container>
      <ng-container matColumnDef="bookingType">
        <th mat-header-cell *matHeaderCellDef>Booking Type </th>
        <td mat-cell *matCellDef="let element"> {{element.bookingType}} </td>
      </ng-container>
      <ng-container matColumnDef="bookingStatus">
        <th mat-header-cell *matHeaderCellDef> Booking Status </th>
        <td mat-cell *matCellDef="let element"> {{element.bookingStatus}} </td>
      </ng-container>
      <ng-container matColumnDef="tripDetails">
        <th mat-header-cell *matHeaderCellDef>Trip Details</th>
        <td mat-cell *matCellDef="let element">
          <a (click)="directToUpcomingTripsPage(element)">View Details</a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-drawer-content>
</mat-drawer-container>
</div>